<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Post Title" required>
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title!</mat-error>
      </mat-form-field>
      <div *ngIf="!selctedImage; else showImg">
        <button mat-raised-button type="button" (click)="openSelectingDialog(imgPoolDialog)">Pick one</button>
        <mat-error *ngIf="imageWarning">Please select an image!</mat-error>
      </div>
      <br />
      <div *ngIf="post && !selctedImage">
        <img src="{{ post.imagePath }}" class="myImg"/>
      </div>
      <ng-template #showImg>
        <div class="image-preview" >
          <img src="{{selctedImage}}" class="myImg"/>
        </div>
      </ng-template>
      <br />
      <mat-form-field>
        <textarea rows="6" matInput formControlName="content" placeholder="Post Content" required></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter a post content!</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Save Post</button> &nbsp;&nbsp;
      <button mat-raised-button color="warn" type="submit" [routerLink]="['/']" >Cancel</button>
    </form>
</mat-card>

<ng-template #imgPoolDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Picture</h4>
        <button type="button" class="close" aria-label="Close" (click)="removeSelected()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
          <span>Select a picture you like</span>
        </div>
      <div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let imgURL of myImagePool">
            <img (click)="onImagePicked($event)" [ngStyle]="selectedStyle(imgURL)" src="{{imgURL}}" class="myImg"/>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Select</button>
      <button type="button" class="btn btn-outline-dark" (click)="removeSelected()">Close</button>
    </div>
</ng-template>
