<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="posts.length>0 && !isLoading">
  <mat-grid-list cols="12" rowHeight="500px" *ngFor="let post of posts; let i = index">
    <div *ngIf="i%2==0">
      <mat-grid-tile [colspan]="5">
        <mat-card class="my-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-subtitle>{{post.username}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="post.imagePath" alt="post.title">
          <mat-card-content>
            <p>{{post.content}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button class="myBtn" color="warn" (click)="onDelete(post.id)"  *ngIf="userIsAuthenticated && userId === post.creator">DELETE</button>
            <button mat-button class="myBtn" color="primary" [routerLink]="['/edit', post.id]"  *ngIf="userIsAuthenticated && userId === post.creator">EDIT</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2"></mat-grid-tile>
      <mat-grid-tile [colspan]="5" *ngIf="posts[i+1]">
        <mat-card class="my-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{posts[i+1].title}}</mat-card-title>
            <mat-card-subtitle>{{posts[i+1].username}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="posts[i+1].imagePath" alt="post.title">
          <mat-card-content>
            <p>{{posts[i+1].content}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button class="myBtn" color="warn" (click)="onDelete(posts[i+1].id)" *ngIf="userIsAuthenticated && userId === posts[i+1].creator">DELETE</button>
            <button mat-button class="myBtn" color="primary" [routerLink]="['/edit', posts[i+1].id]" *ngIf="userIsAuthenticated && userId === posts[i+1].creator">EDIT</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length<=0 && !isLoading">No post added yet</p>
